.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.new-lottery-btn a{
  display: block;
  color: antiquewhite;
  text-decoration: none;
  /* margin: 10px; */
}
.navbar{
  height: 60px;
}
.home {
  background-color: rgb(49, 49, 49);
  padding: 10% 15%;
  /* padding-left: 10%; */
  height: 100vh;
  /* margin: auto; */
  position: fixed;
  /* display: flex; */
  /* text-align: center; */
  width: 100vw;
  /* margin-t; */
}
.homeintro{
  display: flex;
  align-items: flex-end;
  height: 10vh;
  color: wheat;
  margin: auto;
  font-size: 40px;
}
.homeintrosub{
  display: flex;
  color: wheat;
  height:10vh;
}
.homebutton{
  padding: 0;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content:start;
}
.join-lottery {
  display: flex;
  margin: 10px;
  width: 300px;
}

.page-footer {
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  margin: 0;
  padding:0;
  align-items: center;
  justify-content: center;
  bottom: 0;
}
.page-footer a {
  text-decoration: none;
  margin-left: 2px;
}

.footer-copyright {
  color: antiquewhite;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.remaining-name-collection{
  /* background-color: red;
  border: 2px solid grey;
  height:200px;
  width: 200px;
  box-sizing: content-box;
  overflow:scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;  
  padding:0 10px; */
  width: 200px;
  height: 50px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  
}
.remaining-name-collection ul{
  list-style-type:none;
  width:200px;
  position: relative;
    display: flex;
    flex-direction: column;
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.175);
    transform-style: preserve-3d;
    height: inherit;
}
.list-item{
  position: absolute;
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: #333;
    font-weight: bold;
    transition: filter .25s ease;
}

/* .lottery{
  margin: 5% auto;
} */

.csvInput{
  display:none;
}

.uploadButton{

  margin:  5% auto;
  padding: 10px;
  font-size: 40px;
  color:antiquewhite;
  background-color: gray;
  border-radius: 20px;
}
.startLottery{
  /* align-items: center; */
  display: none;
  margin: 5% auto;
  padding: 10px;
  font-size: 30px;
  border-radius: 20px;
  background-color: rgb(129, 114, 114);
}
.remaining-name-collection{
  display: none;
}
.rollButton{
  border-radius: 10px;
  display: none;
  padding: 20px;
  font-size: 20px;
  font-weight: bolder;
  margin: auto;
}
.Rname{
  border-radius: 20px;
  text-align: center;
  margin: 50px auto;
  color :antiquewhite;
font-size: 3rem;
font-weight: bolder;
padding: 20px;
background-color: grey;
}
.namelist{
  margin:auto;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.done{
  color :antiquewhite;
font-size: 3rem;
padding: 20px;
text-align: center;
}

.remaining{
  color :antiquewhite;
font-size: 3rem;
padding: 20px;
}
.completeList{
  color: antiquewhite;
  font-size: 2.5rem;
  padding: 10px;
  list-style-type: none;
} 

.remaininglist{
  margin-left: 50px;
  color: antiquewhite;
  font-size: 2.5rem;
  /* padding: 15px 10px; */
  list-style-type: none;
}
.lottery-page{
  display:none;

}
.lottery-card{
  width: 80%!important;
  max-width: 1500px;
  min-width: 800px;
}

.done-list{
  /* height: 40%; */
  margin: 20px;
  border: 5px solid black;
  overflow: scroll;  width: 50%;
  overflow-x: hidden;min-height: 600px;max-height: 600px;
}
.remaining-list{
  /* height: 40%; */
  width: 50%;  margin: 20px;
  border: 5px solid black;
  overflow: scroll;
  overflow-x: hidden;
  min-height: 600px;
  max-height: 600px;
}

.login-page{
  padding: 20% 25%;
  height: 100vh;
  background-color: rgb(49, 49, 49);
}
.login{
  color: rgb(49, 49, 49);
  text-align: center;
  font-size: 3.5rem;
  padding: 20px 0px;
}
.login-card{
  background-color: thistle;
  padding: 20% 25%;
  border-radius: 40px;
}

.loginform{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputbox{
  margin: 10px;
  padding:15px;  
  border-radius: 10px;
}
.inputbutton{
  margin: 10px;
  padding:15px;  
  border-radius: 10px;
  font-size: 20px;
  font-weight: bolder;
}